configuration:
  global:
    log_to_console: true
    temporary_path: /tmp
  databases:
    db1:
      type: MSSQL
      host: 127.0.0.1
      servername: ODBC-SERVER-NAME
      database: DB1
      username: user
      password: pwd
    db2:
        type: MSSQL
        host: 127.0.0.1
        servername: ODBC-SERVER-NAME
        database: DB2
        username: user
        password: pwd
  commands:
      "sync:test":
        v1: this is for the command "test"
      "sync:up":
        description: Synchronize upwards
        sync:
          - Mekit\Sync\Metodo\MetodoSync
      "sync:down":
        description: Synchronize downwards
        sync:
          - Mekit\Sync\Metodo\MetodoSync