configuration:
  global:
    log_to_console: true
    temporary_path: /tmp
  databases:
    imp:
      type: MSSQL
      host: 127.0.0.1
      database: IMP
      username: user
      password: pwd
    mekit:
        type: MSSQL
        host: 127.0.0.1
        database: MEKIT
        username: user
        password: pwd
  commands:
      "sync:test":
        v1: this is for the command "test"
      "sync:up":
        description: Synchronize upwards
        sync:
          - Mekit\Sync\Metodo\MetodoSync
      "sync:down":
        description: Synchronize downwards
        sync:
          - Mekit\Sync\Metodo\MetodoSync