configuration:
  global:
    log_to_console: true
    temporary_path: /tmp
  databases:
    db1:
      type: MSSQL
      host: 127.0.0.1
      servername: ODBC-SERVER-NAME
      database: DB1
      username: user
      password: pwd
    db2:
        type: MSSQL
        host: 127.0.0.1
        servername: ODBC-SERVER-NAME
        database: DB2
        username: user
        password: pwd
  sugarcrm:
        url: http://myhost.com/rest/v10
        username: admin
        password: 'password'
        consumer_key: MyConsumerKey
        consumer_secret: 'secret'
        platform: MetodoSugarSync

